body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
}
.profile img {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}
.contact a {
    color: #007BFF;
    text-decoration: none;
}

video {
  width: 400px;
}
#playlist {
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.active a {
  color: #5db0e6;
  text-decoration: none;
}
li a {
  color: #eeeedd;
  background: #333;
  padding: 12px;
  display: block;
}
li a:hover {
  text-decoration: none;
}
